<div>
  <h5 id="page-heading" data-cy="PonudjaciHeading">
    <span jhiTranslate="tenderiApp.ponudjaci.home.title">Ponudjacis</span>

    <div class="d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="add()">Dodaj</button>
      </div>
    </div>
  </h5>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ponudjacis?.length === 0">
    <span jhiTranslate="tenderiApp.ponudjaci.home.notFound">No Ponudjacis found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ponudjacis && ponudjacis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderiApp.ponudjaci.nazivPonudjaca">Naziv Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="odgovornoLice">
            <div class="d-flex">
              <span jhiTranslate="tenderiApp.ponudjaci.odgovornoLice">Odgovorno Lice</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresaPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderiApp.ponudjaci.adresaPonudjaca">Adresa Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankaRacun">
            <div class="d-flex">
              <span jhiTranslate="tenderiApp.ponudjaci.bankaRacun">Banka Racun</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ponudjaci of ponudjacis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ponudjaci', ponudjaci.id, 'view']">{{ ponudjaci.id }}</a>
          </td>
          <td>{{ ponudjaci.nazivPonudjaca }}</td>
          <td>{{ ponudjaci.odgovornoLice }}</td>
          <td>{{ ponudjaci.adresaPonudjaca }}</td>
          <td>{{ ponudjaci.bankaRacun }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                (click)="
                  update(ponudjaci.id, ponudjaci.nazivPonudjaca, ponudjaci.odgovornoLice, ponudjaci.adresaPonudjaca, ponudjaci.bankaRacun)
                "
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button type="submit" (click)="delete(ponudjaci)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Obriši</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
